<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a sec:authorize="hasAuthority('ADMIN')" class="navbar-brand" href="/artconnect/home">ArtConnect</a>
    <a sec:authorize="hasAuthority('USER')" class="navbar-brand" href="/artconnect/home">ArtConnect</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">

            <a sec:authorize="hasAuthority('ADMIN')" class="nav-item nav-link" href="/artconnect/artistPage">Sua Página</a>
            <a class="nav-item nav-link disabled" href="#">Sobre Nós</a>
            <a sec:authorize="hasAuthority('ADMIN')" class="nav-item nav-link" href="/artconnect/artist/upload">Upload de obra</a>
            <a sec:authorize="hasAuthority('ADMIN')" class="nav-item nav-link" href="/artconnect/artist/historico">Histórico de comissões</a>

            <div sec:authorize="isAuthenticated()" class="d-flex align-items-center">
                <a class="nav-item nav-link" href="/artconnect/usuario/perfil">Editar Perfil</a>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sair" class="btn btn-primary"/>
                </form>
            </div>
            <div sec:authorize="isAnonymous()">
                <a class="nav-item nav-link" href="/artconnect/register">Criar Conta</a>
                <a class="nav-item btn btn-outline-primary" type="button" href="/artconnect/login">Log in</a>
            </div>
        </div>
    </div>
</nav>