<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/log.css}" rel="stylesheet" type="text/css"/>
    <style>
        a:link {
            text-decoration: none;
        }
    </style>
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="auth-page">
            <div class="card-auth">
                <a class="link" th:href="@{/home}"><h1>ArtConnect</h1></a>
                <h2 class="success" th:text="${success}"></h2>
                <h3>Faça seu login!</h3>
                <p th:if="${loginError}" class="error">Email ou senha incorretos</p>
                <form th:action="@{/login}" method="post" class="form">
                    <div class="form-group">
                        <input type="text" name="email" placeholder="Insira seu email"/>
                    </div>

                    <div class="form-group">
                        <input type="password" name="senha" placeholder="Insira sua senha"/>
                    </div>

                    <div class="buttons">
                        <a th:href="@{/register}" class="btn btn-criar-conta">Criar conta</a>
                        <button type="submit" class="btn btn-submit">Login</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</body>
</html>